/*styking the body*/
body {
	background-color: black;
	margin:0;
	padding:0;
	height:100%;
}

/*styling all h1 tags*/
h1 {
	text-align:center;
	color:white;
}

/*styling all h2 tags*/
h2 {
	text-align: center;
	color:white;
}

/*styling the paragraphs*/
p {
	text-align:center;
	color:white;
	font-weight:16px;
}

/*styling unordered list*/
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align:center;
  display:inline-block;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: underline;
}

li a:hover {
  color:white;
}


footer {
	text-align: center;
}

a {
	color:#999;
	text-align: center;
}

/*
===============
===============
*/

/* Style the navbar, sticky bar */
#navbar {
  overflow: hidden;
  background-color:black;
  border:#999;
  width:100%;
}

/* Navbar links for sticky bar */
#navbar ul a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #333;
  padding: 16px 8px;
  text-decoration: none;
  background-color:black;
  border:#333;
  font-size:17px;
  font-weight:900;
  text-transform:uppercase;
  white-space:nowrap;
  padding:35px;
}



/*sticky nav bar*/
#navbar {
	background-color: black;
	border-bottom: 1px solid #333;
	text-align:center;
	text-transform:uppercase;
	/*padding:20px;*/
	top:1px;
    left:0;
    right:0;
    border-bottom:1px solid;
	width:100%;
	z-index:1; /*positions sticky bar in front of content*/
}

#navbar a:hover {
	color:white;
}

#navbar a:active {
	background-color: black;
	color:white;
}


/*nav bar at top of page*/
.navbar{
	width:100%;
	padding:0px;
	background-color:#333;
	border:none;
	border-radius:0;
	margin:0 0 45px 0;
	padding:2px;
}

/*flipboard text in top nav*/
.logo{
	text-transform: uppercase;
	color:white;
	font-size:22px;
	font-weight:900;
	position:relative;
	display:inline-flex;
	align-self: center;
	align-items: center;
	height:60px;
	margin left:12px;
}

/*search box in top nav */
input {
	background-color: #999;
	width:100%;
	height:44px;
	padding:8px 12px;
	margin:8px;
	font-family:Fakt;
	font-size:16px;
	font-weight: 500;
	border:1px solid;
	border-radius:4px;
}

/*h1 tag in banner*/
.banner {
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:16px;
	font-size:40px;
	line-height: 50%;
	text-align:center;
}

/*for red border under text*/
#line{
	border-bottom: 11px solid red;
	display:inline-block;
	padding: 0px;
	width:30%;
	margin:490px;
	margin-top:0px;
	margin-bottom:5px;
}


/*p tag in banner*/
.stories{
	font-weight: 500;
	font-size:20px;
	color:white;
	margin-bottom: 32px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*sign up button at bottom of page*/
.btn-lg {
  background-color: red;
  color: white;
  border:white;
}

/*sign up button in banner*/
.btn-lg {
	padding:20px;
}

/*open in app button*/
.btn1 {
	background-color:black;
	color:white;
	border:1px solid white;
	border-radius: 3px;
	margin:14px 0 4px 55px;
	padding:8px;
}

/*sign up button in nav*/
.btn2{
	background-color:red;
	color:white;
	border:none;
	border-radius: 2px;
	/*margin:10px;*/
	margin:15px 0 0 20px;
	padding:8px;
}

/*log in link in top nav*/
.navbar-right a {
	margin:9px 18px 0 9px;
	padding:8px;
	text-decoration: none;
}


/*holds images and paragraphs in column*/
.card {
	background-color: #333;
	padding:10px 10px 10px 10px;
	padding-bottom: 75px;
	margin:0 0 75px 2px;
}

/*places content/card on its own row*/
.row{
	padding:10px;
}

.glyphicon {
	float: right;
	margin-top:20px;
	padding:14px;
	color:#999;
}

.time {
	float:left;
	padding:30px;
	padding-left: 0;
	font-size:15px;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
  /*position: left;*/
}

 .card-circle{
 	display:flex;
 	align-items: center;
 }

 .link-with-circle{
 	margin-right:8px;
 }

 .img {
 	margin:0;
 	max-width:100%;
 	vertical-align:bottom;
 }
