/*styking the body*/
body {
	background-color: black;
	margin:0;
	padding:0;
	height:100%;
}

/*styling all h1 tags*/
h1 {
	text-align: center;
	color:white;
	margin:none;
}

/*styling all h2 tags*/
h2 {
	text-align: center;
	color:white;
}

/*styling the paragraphs*/
p {
	text-align:center;
	color:white;
	font-weight:16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color:white;
}

small {
	text-align: center;
}

/*
===============
===============
*/

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color:black;
  border:#999;
}

/* Navbar links */
#navbar a ul {
  /*float: left;*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color:black;
}

.navbar{
	width:100%;
	padding:0px;
	background-color:#333;
	border:none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*sign up button*/
.btn-lg {
  background-color: red;
  color: white;
  text-align:center;
}

.card {
	background-color: #333;
	padding:0px 0px 10px 0px;
}

.glyphicon {
	text-align: right;
}

.row{
	padding:10px;
}