/*styking the body*/
body {
	background-color: black;
	margin:0;
	padding:0;
	height:100%;
}

/*styling all h1 tags*/
h1 {
	text-align:center;
	color:white;
}

/*styling all h2 tags*/
h2 {
	text-align: center;
	color:white;
}

/*styling the paragraphs*/
p {
	text-align:center;
	color:white;
	font-weight:16px;
}

/*styling unordered list*/
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align:center;
  display:inline-block;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: underline;
}

li a:hover {
  color:white;
}


footer {
	text-align: center;
}


/*
===============
===============
*/

/* Style the navbar, sticky bar */
#navbar {
  overflow: hidden;
  background-color:black;
  border:#999;
  margin: 0 50px 0 50px;
}

/* Navbar links for sticky bar */
#navbar ul a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #333;
  padding: 14px;
  text-decoration: none;
  background-color:black;
  border:#333;
  text-transform:;
}



/*sticky nav bar*/
#navbar {
	background-color: black;
	border-bottom: 1px solid #333;
	z-index:1;
	text-align:center;
}

#navbar:hoover{
	color:white;
}


/*nav bar at top of page*/
.navbar{
	width:100%;
	padding:0px;
	background-color:#333;
	border:none;
}

/*h1 tag in banner*/
.banner {
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:16px;
	font-size:40px;
	line-height: 50%;
	text-align:center;
}

/*for red border under text*/
#line{
	border-bottom: 11px solid red;
	display:inline-block;
	padding: 12px 0 11px;
	width:30%;
}


/*p tag in banner*/
.stories{
	font-weight: 500;
	font-size:20px;
	color:white;
	margin-bottom: 32px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*sign up button at bottom of page*/
.btn-lg {
  background-color: red;
  color: white;
  border:white;
}


/*open in app button*/
.btn1 {
	background-color:black;
	color:white;
	border:1px solid white;
	border-radius: 3px;
	margin:10px;
}

/*sign up button in nav*/
.btn2{
	background-color:red;
	color:white;
	border:none;
	border-radius: 2px;
	margin:10px;
}


/*holds images and paragraphs in column*/
.card {
	background-color: #333;
	padding:10px 10px 10px 10px;
}

.glyphicon {
	margin:45px;
	padding:0;
}

.row{
	padding:10px;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

